<div id="debug-menu" class="fc-dune-modal hide">
  <header>
    <span>DEBUG</span>
  </header>
  <div class="body categories">
    <div class="category map-overlay">
      <span>Map Overlay:</span>
      <select name="map-overlay" class="map-overlay">
        <option value="">None</option>
        <option value="sectors">Sectors</option>
        <option value="regions">Regions</option>
        <option value="subRegions">Sub-Regions</option>
      </select>
  </div>
  </div>
  <footer></footer>
</div>