<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<script type="module" src="../app.mjs"></script>
    <!-- <script type="module" src="../mainMenu/mainMenu.mjs"></script> -->
    <link rel="stylesheet" href="./styles/main.css">
		<link rel="stylesheet" href="./styles/fa/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *; img-src *; script-src 'self' 'unsafe-eval'">
    <title>Dune</title>
  </head>
	<body>
		<main id="mainmenu" class="hide">
			<!-- MAIN MENU INSERT -->
		</main>
		<main id="gamecanvas" class="hide">
			<!-- GAME INSERT -->
		</main>
		<main id="gameui" class="hide">
			<!-- UI  -->
		</main>
		<main id="chat" class="hide">
			<!-- CHAT WINDOW -->
		</main>
	</body>
</html>