<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
		<script type="module" src="../app.mjs"></script>
    <script type="module" src="../mainMenu/mainMenu.mjs"></script>
    <link rel="stylesheet" href="./styles/main.css">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' *; img-src *; script-src 'self' 'unsafe-eval'">
    <title>Dune</title>
  </head>
	<body>
		<input type="hidden" name="activePage" value="">
		<main id="mainmenu">
			<!-- MAIN MENU INSERT -->
		</main>
		<main id="gamecanvas">
			<!-- GAME INSERT -->
		</main>
		<main id="gameui">
			<!-- UI  -->
		</main>
		<main id="chat">
			<!-- CHAT WINDOW -->
		</main>
	</body>
</html>