@keyframes fc-fade-in {
  0% { opacity: 0.0; pointer-events: 'none'; display: 'block'; }
  60% { pointer-events: ''; }
  100% { opacity: 1.0; }
}
@keyframes fc-fade-out {
  0% { opacity: 1.0; }
  40% { pointer-events: none; }
  100% { opacity: 0.0; pointer-events: none; display: 'none'; }
}

.fc-fade-in-slow { animation: forwards fc-fade-in 3s }
.fc-fade-in-normal { animation: forwards fc-fade-in 1s }
.fc-fade-in-fast { animation: forwards fc-fade-in 0.5s }
.fc-fade-in-snap { animation: forwards fc-fade-in 0.1s }

.fc-fade-out-slow { animation: forwards fc-fade-out 3s }
.fc-fade-out-normal { animation: forwards fc-fade-out 1s }
.fc-fade-out-fast { animation: forwards fc-fade-out 0.5s }
.fc-fade-out-snap { animation: forwards fc-fade-out 0.1s }


/* Test popup CSS */

.fc-dune-modal {
  @apply absolute select-none py-0 px-1 text-center;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  min-width: 15rem;
  max-width: 30rem;
  border-radius: 4px;
  background-color: #ad9c37;
  box-shadow: 0px 0px 12px var(--duneCyanDark);
  border: 2px solid var(--duneCyan);
  
  &.alert { border: 2px solid var(--duneGreen); }
  &.error { border: 2px solid #dd3333; }

  & button {
    @apply inline-flex items-center cursor-pointer h-5 text-base;
    @apply px-2 py-0 bg-[#ede6d8];
    border: 1px solid black;
    border-radius: 3px;
    font-variant: petite-caps;
	  box-shadow: 0px 0px 4px var(--duneBrown) inset;
  }

  & header {
    @apply relative h-7 align-middle text-lg text-[#2f2300];

    & .controls {
      @apply absolute flex align-middle;
      top: 50%;
      right: 1%;
      transform: translate(0%, -50%);

      & button {
        @apply flex h-5 w-5 justify-center align-middle mx-1;
        color: #393939;
        border-radius: 0.125rem;
        font-size: 0.875rem;

        &.disabled { @apply opacity-0 pointer-events-none; }
      }
    }
  }

  & .body {
    @apply bg-[whitesmoke] p-2 text-base;
    line-height: 1.5rem;
    max-height: 16rem;
    border: 1px solid black;
    padding: 0.5rem;
    min-height: 2rem;

    & .modal-icon img {
      @apply my-2 mx-auto;
      max-height: 3rem;
    }
  }

  & footer {
    @apply flex justify-center items-center gap-2 relative h-7 align-middle text-lg;
    line-height: 2rem;

    & button {
      transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
      color: var(--duneCyanDark);
      text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
      margin: 0px 0.5rem 0px 0.5rem;
        &:hover {
        transition: color 0.25s, text-shadow 0.5s, box-shadow 0.05s 0.05s;
        color: var(--duneCyan);
        text-shadow: 0px 0px 1px #109810;
        }

      &.green {
        color: green;
        text-shadow: 0px 0px 1px darkgreen;
        &:hover {
          color: #1dc31d;
          text-shadow: 0px 0px 1px #109810;
        }
      }

      &.red {
        color: darkred;
        text-shadow: 0px 0px 1px darkred;
        &:hover {
          color: #c51515;
          text-shadow: 0px 0px 1px red;
        }
      }
    }
  }
}