/*
// MAIN MENU
*/

:root {
	--duneCyanBrighter: #7bffff;
	--duneCyanBrighter2: #bcffff;
	--duneGreenBrighter: #00d21d;
	--duneBrown: #201900;
	user-select: none;
}

main#mainmenu {

	& #menu { filter: blur(0rem);	transition: filter 0.5s; }
	&.disabled-blur #menu {
		filter: blur(0.5rem);
		pointer-events: none;
		transition: filter 0.5s;
	}

	@apply visible z-10 text-center font-['dune'] absolute w-screen h-screen bg-dune-brown text-dune-cyan;
	text-shadow: 0px 0px 12px var(--duneCyanBrighter2);

	& .maintitle {
		@apply capitalize w-8/12 min-w-min text-9xl font-bold mt-1 mb-8 mx-auto pb-8 border-0 border-b-dune-cyanDark border-b-3;
	}
	
	& input {	@apply text-sm font-mono font-normal text-black px-1 rounded; }

	/* Expandable Sections */

	& .toggle-content {
		@apply w-2/5 mx-auto my-0.5 border-t border-b border-dune-cyanDark max-h-0 opacity-0 invisible;
		transition: max-height 0.5s ease-out 0.5s, opacity 0.5s linear, visibility 0.5s;
	}
	& input.toggle[value="1"] ~ .toggle-content {
		@apply visible opacity-100 h-auto max-h-[12rem];
		transition: max-height 1s ease-in-out, opacity 0.5s linear 0.5s;
	}

	/* Section Items */
	& .double-item {
		@apply grid mx-auto my-0.5 py-2;
		grid-template-columns: 40% 55%;
		grid-column-gap: 5%;
	}
	.single-item { @apply grid mx-auto my-0.5; }

	/* Loading Modal */	
	& dialog#loading-modal {
		@apply z-30 block top-1/3 w-[30rem] font-mono border-3 border-dune-cyan opacity-0 bg-[whitesmoke];
	
		& .loading-spinner { @apply mx-auto text-center }
		& .loading-spinner img { height: 100px; margin: auto; }

		& button {
			@apply text-red-700 border-2 border-[color:#a40000] px-4 py-1 rounded-md font-['dune'];
		}
	}

	/* Lobby */
	& #lobby {
		@apply block z-20 absolute m-auto p-0 top-4 w-8/12 text-lg opacity-0;
		@apply bg-dune-sand rounded-[1rem] border-3 border-dune-cyanBright;
    box-shadow: 0px 0px 10px var(--duneCyan);

	
		& header {
			@apply text-center text-xl h-12 relative;
			border-radius: 1rem 1rem 0 0;
			border-bottom: 2px solid black;
			grid-column: 1 / 3;
			line-height: 3rem;

			& .controls {
				@apply flex absolute items-center;
				top: 50%;
				right: 1%;
				transform: translate(0%, -50%);
			}
		}

		& .body {
			@apply grid bg-dune-whiteSand font-mono text-base overflow-y-auto;
			grid-template-columns: 66% 34%;
			max-height: 16rem;

			& .init {
				@apply text-center m-0 py-8;
				grid-column: 1 / 3;

				& div {
					@apply inline-block mx-8;
				}
			}
			/* Player List */
			& .player-list {
				@apply border-black border-r-2 w-[95%] m-auto;
				min-height: 20vh;

				& .player {
					@apply grid items-center m-1;
					grid-template-columns: 30% 30% 20% 10%;
					column-gap: 1%;

					& input[type="color"] { @apply bg-dune-whiteSand; }

					& .fa-crown { @apply hidden; }
					&[data-ishost="1"] .fa-crown {
						@apply inline text-sm align-middle pb-1 text-[#e69c15] ml-2;
					}

					& .player-ready {
						@apply border-black rounded text-center cursor-pointer text-gray-500 py-0.5;
						&:hover { box-shadow: 0px 0px 2px var(--duneCyanBrighter) }

						& div i {
							@apply text-blue-600 text-sm inline-block invisible ml-2 pb-1 align-middle;
						}

						& input { @apply hidden; }
						& input:checked ~ div { @apply text-blue-600; }
						& input:checked ~ div i { @apply visible; }
					}

					&[data-id=""] {
						color: lightgray;
					}
				}
			}
			/* Server Options */
			& .server-options {
				@apply w-[95%] m-auto mt-0;

				& .server-option {
					@apply grid cursor-pointer items-center m-2;
					grid-template-columns: 80% 20%;
				}

				& .dune-switch { @apply rounded-switch; }
			}
		}

		& footer {
			@apply text-center border-black m-auto min-h-[3rem] bg-dune-sand;
			line-height: 3rem;
			border-top: 2px solid black;
			grid-column: 1 / 3;
			border-radius: 0 0 1rem 1rem;
		}

		/* Lobby Generics */
		& select {
			@apply border-gray-600 border-[1px] text-base rounded font-mono w-min;
			min-width: min-content;
    }
	}

}