@import './ui.css';
@import './mainmenu.css';

@font-face {
  font-family: dune;
  src: url("fonts/NEON CLUB MUSIC.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-weight: bold;
  src: url("fonts/NEON CLUB MUSIC_bold.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-weight: lighter;
  src: url("fonts/NEON CLUB MUSIC_light.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-style: italic;
  src: url("fonts/NEON CLUB MUSIC_italic.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.rounded-switch {
		& input { @apply hidden; }
		& .slider {
			@apply relative w-8 bg-white h-4 border-2 border-dune-cyanDark rounded-[2rem];
			transition: 0.4s background-color;

			& .slider-button {
				@apply absolute w-3 h-3 rounded-[1rem] bg-gray-500 top-2/4 left-[5%];
				transform: translate(0%, -50%);
				transition: 0.3s transform, 0.3s left, 0.3s background-color;
			}
		}

		& input:checked ~ .slider {
			@apply bg-dune-cyanBrighter;
			transition: 0.3s background-color;

			& .slider-button {
				@apply left-[95%];
				transform: translate(-100%, -50%);
				transition: 0.3s transform, 0.3s left, 0.3s background-color;
			}
		}
	}
}

:root {
	@apply w-screen h-screen;
	--duneBrown: #201900;
	--duneCyan: #0ed5d5;
	--duneCyanBright: #03fbfb;
	--duneCyanBrighter: #7bffff;
	--duneCyanDark: #1c4f4f;
	--duneGreen: #00d01c;
	--duneGreenBright: #328600;
	--duneGreenBrighter: #00d21d;
	font-size: 1.5rem;
	user-select: none;
}

/* CANVAS */
main#gamecanvas {
	position: absolute;
	width: 100vw;
	height: 100vh;
	color: #646464;
	z-index: 1;
}
main#chat {
	z-index: 10;
	width: 30vw;
	height: 25vh;
}

/* GENERIC */

.show { @apply visible opacity-100; }
.hide { @apply invisible opacity-0; }
.toback { z-index: -1 }

.disabled { pointer-events: none; cursor: not-allowed; filter: grayscale(70%) }
input.disabled { @apply bg-slate-400 pointer-events-auto } 

.custom-scroll::-webkit-scrollbar {
	background-color: #047360;
	width: 0.4em;
	border: 1px solid #025546;
	border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #03977d;
	border: 1px solid #025546;
	border-radius: 5px;
}

body {
	font-family: corbel;
	font-weight: bold
}