/*
// MAIN MENU
*/

:root {
	--duneCyanBrighter: #7bffff;
	--duneCyanBrighter2: #bcffff;
	--duneGreenBrighter: #00d21d;
}

main#mainmenu {

	@apply visible z-20 text-center font-['dune'] absolute w-screen h-screen bg-dune-brown text-dune-cyan;
	text-shadow: 0px 0px 12px var(--duneCyanBrighter2);

	& .maintitle {
		@apply capitalize w-8/12 min-w-min text-9xl font-bold mt-1 mb-8 mx-auto pb-8 border-0 border-b-dune-cyanDark border-b-3;
	}
	
	& input {	@apply text-sm font-mono font-normal text-black px-1 rounded; }

	/* Expandable Sections */
	button {

		@apply text-2xl text-dune-cyan border-0 font-bold uppercase cursor-pointer my-1;
		text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
		transition: color 0.5s, text-shadow 1s;
		
		&.expandable:hover {
			@apply text-dune-cyanBright transition-colors duration-500;
			text-shadow: 0px 0px 26px var(--duneCyanBrighter);
			transition: color 0.5s, text-shadow 1s;
		}
		&.launch {
			@apply text-base text-dune-green border-2 border-dune-greenBright rounded py-1 px-2 w-max mx-auto;
			box-shadow: 0px 0px 3px 0px green, 0px 0px 2px 0px green inset;
			text-shadow: 0px 0px 8px darkgreen;
			transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;

			&:hover {
				color: red;
				@apply text-dune-greenBrighter border-dune-greenBrighter;
				text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
				box-shadow: 0px 0px 8px 0px var(--duneGreenBrighter), 0px 0px 3px 0px var(--duneGreenBrighter) inset;
				transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
			}
		}
	}

	& .toggle-content {
		@apply w-2/5 mx-auto my-0.5 border-t border-b border-dune-cyanDark max-h-0 opacity-0 invisible;
		transition: max-height 0.5s ease-out 0.5s, opacity 0.5s linear, visibility 0.5s;
	}
	& input.toggle[value="1"] ~ .toggle-content {
		@apply visible opacity-100 h-auto max-h-[200px];
		transition: max-height 1s ease-in-out, opacity 0.5s linear 0.5s;
	}

	/* Section Items */
	& .double-item {
		@apply grid mx-auto my-0.5 py-2;
		grid-template-columns: 40% 55%;
		grid-column-gap: 5%;
	}
	.single-item { @apply grid mx-auto my-0.5; }

	/* Modal */	
	& dialog {
		@apply block invisible opacity-0;
		transition: opacity 0.3s;
	
		& .loading-spinner { @apply mx-auto text-center }
		& .loading-spinner img { height: 100px; margin: auto; }

		&#loading-modal button {
			@apply text-red-700 border-2 border-[color:#a40000] px-4 py-1 rounded-md;
		}
	}
	& input[name="modalup"][value="1"] ~ dialog#loading-modal {
		@apply top-1/4 bg-[color:#f1f1f1] text-2xl font-bold opacity-90 visible rounded-md;
		transition: opacity 0.3s;
	}

	/* Lobby */
	& #lobby {
		@apply grid w-6/12 text-lg m-2;
		grid-template-columns: 66% 33%;

		& header {
			@apply text-center text-xl mb-4 h-8;
			grid-column: 1 / 3;
		}

		& .init {
			@apply text-center m-8;
			grid-column: 1 / 3;

			& div {
				@apply inline-block mx-8;
			}
		}

		& .player-list {
			@apply border-black border-r-2 w-[95%] m-auto;
			min-height: 20vh;

			& select {
				@apply w-full text-base;
			}

			& .player {
				@apply grid items-center m-1;
				grid-template-columns: 30% 20% 20% 20%;
				column-gap: 1%;

				& fa-crown @apply hidden;
				&[data-ishost="1"] .fa-crown {
					@apply inline text-sm align-middle pb-1 text-[#e69c15] ml-2;
				}

				& .player-ready {
					@apply border-black rounded text-center cursor-pointer text-gray-500 py-0.5;
					&:hover { box-shadow: 0px 0px 2px var(--duneCyanBrighter) }

					& div i {
						@apply text-blue-600 text-sm inline-block invisible ml-2 pb-1 align-middle;
					}

					& input @apply hidden;
					& input:checked ~ div @apply text-blue-600;
					& input:checked ~ div i @apply visible;
				}
			}
		}

		& .server-options {
			@apply w-[95%] m-auto mt-0;

			& .server-option {
				@apply grid cursor-pointer items-center m-2;
				grid-template-columns: 80% 20%;
			}

			& .dune-switch @apply rounded-switch;
		}

		& footer {
			@apply text-center border-black mt-4 min-h-[2rem];
		}
	}
}