:root {
}

/*
// UI
*/

main#gameui {
  position: fixed;
  right: 5%;
  top: 5%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main#gameui button {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: var(--tw-transform);
}

/*
// CHAT
*/

main#chat {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  display: grid;
  min-height: 200px;
  min-width: 200px;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  font-size: 1.125rem;
  line-height: 1.75rem;
  opacity: 0.8;
  grid-template-rows: 0 1fr 1.8em;
}

main#chat .log {
  position: relative;
  bottom: 0px;
  margin: 0.5rem;
  max-height: 100%;
  overflow: auto;
}

main#chat .chat-message {
  --tw-text-opacity: 1;
  color: rgb(167 172 1 / var(--tw-text-opacity));
}

main#chat .chat-message:nth-child(even) {
  --tw-text-opacity: 1;
  color: rgb(148 121 0 / var(--tw-text-opacity));
}

main#chat .chat-message .chat-content {
  margin-left: 0.25rem;
}

main#chat .input {
  position: relative;
  --tw-border-opacity: 1;
  border-top-color: rgb(175 175 175 / var(--tw-border-opacity));
}

main#chat .input textarea {
  position: relative;
  height: 1.5rem;
  width: 97%;
  resize: none;
  overflow-y: hidden;
  border-width: 0px;
  background-color: transparent;
  line-height: 1.375;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  top: 50%;
  left: 50%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: var(--tw-transform);
}

main#chat .input textarea:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

main#chat .resize-handle {
  position: relative;
  left: 0.25rem;
  top: 0.25rem;
  z-index: 10;
  height: 0.5rem;
  width: 0.5rem;
  cursor: nwse-resize;
}

main#chat .arrow.up-left {
  height: 0px;
  width: 0px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: rgb(92 92 92 / var(--tw-border-opacity));
  border-right-color: transparent;
  border-bottom-color: transparent;
}

/*
// IN-GAME MENU
*/

section#ingamemenu {
  position: fixed;
  z-index: 50;
  width: 33.333333%;
  border-radius: 0.125rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(28 79 79 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(32 25 0 / var(--tw-bg-opacity));
  padding: 0.25rem;
  padding-top: 0px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  top: 50%;
  left: 50%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: var(--tw-transform);
  box-shadow: 0px 0px 10px 3px #04042e;
}

section#ingamemenu.show {
  display: block;
}

section#ingamemenu h4 {
  margin: 0.25rem;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(28 79 79 / var(--tw-border-opacity));
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(14 213 213 / var(--tw-text-opacity));
}

section#ingamemenu .container {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
}

section#ingamemenu .section {
  display: grid;
  width: 91.666667%;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  align-items: center;
}

section#ingamemenu .setting {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
}

/*
// MAIN MENU
*/

:root {
  --duneCyanBrighter: #7bffff;
  --duneCyanBrighter2: #bcffff;
  --duneGreenBrighter: #00d21d;
  --duneBrown: #201900;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main#mainmenu #menu {
  filter: blur(0rem);
  transition: filter 0.5s;
}

main#mainmenu.disabled-blur #menu {
  filter: blur(0.5rem);
  pointer-events: none;
  transition: filter 0.5s;
}

main#mainmenu {
  visibility: visible;
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  --tw-bg-opacity: 1;
  background-color: rgb(32 25 0 / var(--tw-bg-opacity));
  text-align: center;
  font-family: 'dune';
  --tw-text-opacity: 1;
  color: rgb(14 213 213 / var(--tw-text-opacity));
  text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
}

main#mainmenu .maintitle {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  width: 66.666667%;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-width: 0px;
  border-bottom-width: 3px;
  --tw-border-opacity: 1;
  border-bottom-color: rgb(28 79 79 / var(--tw-border-opacity));
  padding-bottom: 2rem;
  font-size: 8rem;
  line-height: 1;
  font-weight: 700;
  text-transform: capitalize;
}

main#mainmenu input {
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

/* Expandable Sections */

main#mainmenu .toggle-content {
  visibility: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  max-height: 0px;
  width: 40%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(28 79 79 / var(--tw-border-opacity));
  opacity: 0;
  transition: max-height 0.5s ease-out 0.5s, opacity 0.5s linear, visibility 0.5s;
}

main#mainmenu input.toggle[value="1"] ~ .toggle-content {
  visibility: visible;
  height: auto;
  max-height: 12rem;
  opacity: 1;
  transition: max-height 1s ease-in-out, opacity 0.5s linear 0.5s;
}

/* Section Items */

main#mainmenu .double-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-template-columns: 40% 55%;
  grid-column-gap: 5%;
}

main#mainmenu .single-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  display: grid;
}

/* Loading Modal */

main#mainmenu dialog#loading-modal {
  top: 33.333333%;
  z-index: 30;
  display: block;
  width: 30rem;
  border-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgb(14 213 213 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  opacity: 0;
}

main#mainmenu dialog#loading-modal .loading-spinner {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main#mainmenu dialog#loading-modal .loading-spinner img {
  height: 100px;
  margin: auto;
}

main#mainmenu dialog#loading-modal button {
  border-radius: 0.375rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(164 0 0 / var(--tw-border-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-family: 'dune';
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

/* Lobby */

main#mainmenu #lobby {
  position: absolute;
  top: 1rem;
  z-index: 20;
  margin: auto;
  display: block;
  width: 66.666667%;
  padding: 0px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  opacity: 0;
  border-radius: 1rem;
  border-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgb(3 251 251 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(204 144 71 / var(--tw-bg-opacity));
  box-shadow: 0px 0px 10px var(--duneCyan);
}

main#mainmenu #lobby header {
  position: relative;
  height: 3rem;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 2px solid black;
  grid-column: 1 / 3;
  line-height: 3rem;
}

main#mainmenu #lobby header .controls {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
}

main#mainmenu #lobby .body {
  display: grid;
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(237 230 216 / var(--tw-bg-opacity));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  grid-template-columns: 66% 34%;
  max-height: 16rem;
}

main#mainmenu #lobby .body .init {
  margin: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  grid-column: 1 / 3;
}

main#mainmenu #lobby .body .init div {
  margin-left: 2rem;
  margin-right: 2rem;
  display: inline-block;
}

/* Player List */

main#mainmenu #lobby .body .player-list {
  margin: auto;
  width: 95%;
  border-right-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  min-height: 20vh;
}

main#mainmenu #lobby .body .player-list .player {
  margin: 0.25rem;
  display: grid;
  align-items: center;
  grid-template-columns: 30% 20% 20% 20%;
  -moz-column-gap: 1%;
       column-gap: 1%;
}

main#mainmenu #lobby .body .player-list .player input[type="color"] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 230 216 / var(--tw-bg-opacity));
}

main#mainmenu #lobby .body .player-list .player .fa-crown {
  display: none;
}

main#mainmenu #lobby .body .player-list .player[data-ishost="1"] .fa-crown {
  margin-left: 0.5rem;
  display: inline;
  padding-bottom: 0.25rem;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(230 156 21 / var(--tw-text-opacity));
}

main#mainmenu #lobby .body .player-list .player .player-ready {
  cursor: pointer;
  border-radius: 0.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

main#mainmenu #lobby .body .player-list .player .player-ready:hover {
  box-shadow: 0px 0px 2px var(--duneCyanBrighter)
}

main#mainmenu #lobby .body .player-list .player .player-ready div i {
  visibility: hidden;
  margin-left: 0.5rem;
  display: inline-block;
  padding-bottom: 0.25rem;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

main#mainmenu #lobby .body .player-list .player .player-ready input {
  display: none;
}

main#mainmenu #lobby .body .player-list .player .player-ready input:checked ~ div {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

main#mainmenu #lobby .body .player-list .player .player-ready input:checked ~ div i {
  visibility: visible;
}

main#mainmenu #lobby .body .player-list .player[data-id=""] {
  color: lightgray;
}

/* Server Options */

main#mainmenu #lobby .body .server-options {
  margin: auto;
  margin-top: 0px;
  width: 95%;
}

main#mainmenu #lobby .body .server-options .server-option {
  margin: 0.5rem;
  display: grid;
  cursor: pointer;
  align-items: center;
  grid-template-columns: 80% 20%;
}

main#mainmenu #lobby .body .server-options .dune-switch input {
  display: none;
}

main#mainmenu #lobby .body .server-options .dune-switch .slider {
  transition: 0.4s background-color;
  position: relative;
  height: 1rem;
  width: 2rem;
  border-radius: 2rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(28 79 79 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

main#mainmenu #lobby .body .server-options .dune-switch .slider .slider-button {
  transform: translate(0%, -50%);
  transition: 0.3s transform, 0.3s left, 0.3s background-color;
  position: absolute;
  top: 50%;
  left: 5%;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

main#mainmenu #lobby .body .server-options .dune-switch input:checked ~ .slider {
  transition: 0.3s background-color;
  --tw-bg-opacity: 1;
  background-color: rgb(123 255 255 / var(--tw-bg-opacity));
}

main#mainmenu #lobby .body .server-options .dune-switch input:checked ~ .slider .slider-button {
  transform: translate(-100%, -50%);
  transition: 0.3s transform, 0.3s left, 0.3s background-color;
  left: 95%;
  --tw-bg-opacity: 1;
  background-color: rgb(28 79 79 / var(--tw-bg-opacity));
}

main#mainmenu #lobby footer {
  margin: auto;
  min-height: 3rem;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(204 144 71 / var(--tw-bg-opacity));
  text-align: center;
  line-height: 3rem;
  border-top: 2px solid black;
  grid-column: 1 / 3;
  border-radius: 0 0 1rem 1rem;
}

/* Lobby Generics */

main#mainmenu #lobby select {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(75 85 99 / var(--tw-border-opacity));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
}

.mentat-container {
  display: grid;
  max-height: 100%;
  grid-template-rows: 2rem 1fr;
}

.mentat-container .body {
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.mentat-container .body .background {
  position: absolute;
  z-index: -1;
  max-height: 100%;
  width: 100%;
  opacity: 0.5;
  filter: sepia(20%) blur(1px);
}

.mentat-container .body .background img {
  width: 100%;
}

#mentat-lobby {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 75%;
  padding: 0.125rem;
  max-height: 28vh;
  height: 28vh;
  top: 44vh;
}

#mentat-lobby .body {
  position: relative;
  margin: 0px;
  display: grid;
  padding: 0px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto 1fr;
}

#mentat-lobby .body .abilities {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: left;
  grid-column: 1 / 3;
}

/* Mentat tooltips */

.tt-target.tt-mentat {
  display: inline-block;
  white-space: nowrap;
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

@-webkit-keyframes fc-fadein {
  0% {
    opacity: 0.0;
    display: block
  }

  100% {
    opacity: 1.0
  }
}

@keyframes fc-fadein {
  0% {
    opacity: 0.0;
    display: block
  }

  100% {
    opacity: 1.0
  }
}

@-webkit-keyframes fc-fadeout {
  0% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
    display: none
  }
}

@keyframes fc-fadeout {
  0% {
    opacity: 1.0;
  }

  100% {
    opacity: 0.0;
    display: none
  }
}

.fc-fadein-slow {
  -webkit-animation: fc-fadein 3s;
          animation: fc-fadein 3s
}

.fc-fadein-normal {
  -webkit-animation: fc-fadein 1s;
          animation: fc-fadein 1s
}

.fc-fadein-fast {
  -webkit-animation: fc-fadein 0.5s;
          animation: fc-fadein 0.5s
}

.fc-fadein-snap {
  -webkit-animation: fc-fadein 0.1s;
          animation: fc-fadein 0.1s
}

.fc-fadeout-slow {
  -webkit-animation: fc-fadein 3s;
          animation: fc-fadein 3s
}

.fc-fadeout-normal {
  -webkit-animation: fc-fadein 1s;
          animation: fc-fadein 1s
}

.fc-fadeout-fast {
  -webkit-animation: fc-fadein 0.5s;
          animation: fc-fadein 0.5s
}

.fc-fadeout-snap {
  -webkit-animation: fc-fadein 0.1s;
          animation: fc-fadein 0.1s
}

/* Test popup CSS */

.testclass {
  position: absolute;
  top: 1rem;
  margin: auto;
  display: block;
  width: 50%;
  padding: 0px;
  opacity: 1;
  border-radius: 1rem;
  border-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgb(3 251 251 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(204 144 71 / var(--tw-bg-opacity));
  box-shadow: 0px 0px 10px var(--duneGreen);
  z-index: 9999;
}

.testclass header {
  position: relative;
  height: 3rem;
  text-align: center;
  font-size: 1.125rem;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 2px solid black;
  grid-column: 1 / 3;
  line-height: 1.5rem;
}

.testclass header .controls {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
}

.testclass .body {
  display: grid;
  overflow-y: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(237 230 216 / var(--tw-bg-opacity));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  max-height: 16rem;
}

.testclass footer {
  margin: auto;
  min-height: 3rem;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(204 144 71 / var(--tw-bg-opacity));
  text-align: center;
  line-height: 2rem;
  border-top: 2px solid black;
  grid-column: 1 / 3;
  border-radius: 0 0 1rem 1rem;
}

@font-face {
  font-family: dune;

  src: url("fonts/NEON CLUB MUSIC.otf") format("opentype");
}

@font-face {
  font-family: dune;

  font-weight: bold;

  src: url("fonts/NEON CLUB MUSIC_bold.otf") format("opentype");
}

@font-face {
  font-family: dune;

  font-weight: lighter;

  src: url("fonts/NEON CLUB MUSIC_light.otf") format("opentype");
}

@font-face {
  font-family: dune;

  font-style: italic;

  src: url("fonts/NEON CLUB MUSIC_italic.otf") format("opentype");
}

/*
! tailwindcss v3.0.11 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

:root {
  height: 100vh;
  width: 100vw;
  --duneBrown: #201900;
  --duneCyan: #0ed5d5;
  --duneCyanBright: #03fbfb;
  --duneCyanBrighter: #7bffff;
  --duneCyanDark: #1c4f4f;
  --duneGreen: #00d01c;
  --duneGreenBright: #328600;
  --duneGreenBrighter: #00d21d;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (min-height: 1200px) {
  :root {
    font-size: 24px
  }
}

@media (min-height: 2160px) {
  :root {
    font-size: 26px
  }
}

/*  NPM unpackaged border highlight for testing multiple instances */

input[name="unpackaged"][value="1"] ~ main {
  border: 1px solid #ff8e00;
  box-sizing: border-box;
}

/* CANVAS */

main#gamecanvas {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: #646464;
  z-index: 1;
}

main#chat {
  z-index: 10;
  width: 30vw;
  height: 25vh;
}

/* GENERIC */

/* Simple CSS Tooltips */

@-webkit-keyframes fadein {
  from {
    opacity: 0.0
  }

  to {
    opacity: 1.0
  }
}

@keyframes fadein {
  from {
    opacity: 0.0
  }

  to {
    opacity: 1.0
  }
}

.tt-target {
  position: relative;
}

.tt-target:hover > .tt-content {
  display: block;
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
}

.tt-content {
  position: absolute;
  display: none;
  max-width: 32rem;
  white-space: nowrap;
  --tw-bg-opacity: 1;
  background-color: rgb(237 230 216 / var(--tw-bg-opacity));
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  left: 50%;
  border-radius: 0.125rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  border: 1px solid black;
  bottom: 100%;
  text-transform: none;
  transform: translateX(-50%);
}

/* Z-Indexing */

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.toback {
  z-index: -1
}

.disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.disabled .grey {
  filter: grayscale(70%);
}

input.disabled {
  pointer-events: auto;
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

/* Scrollbars */

.custom-scroll::-webkit-scrollbar {
  background-color: #047360;
  width: 0.4em;
  border: 1px solid #025546;
  border-radius: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #03977d;
  border: 1px solid #025546;
  border-radius: 5px;
}

/* Other */

body {
  font-family: corbel;
  font-weight: bold
}

/* Neon Buttons */

button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
  transition: color 0.5s, text-shadow 1s;
}

button.mainmenu {
  border-width: 0px;
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgb(14 213 213 / var(--tw-text-opacity));
}

button.system {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-border-opacity: 1;
  border-color: rgb(32 25 0 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(237 230 216 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  box-shadow: 0px 0px 4px var(--duneBrown) inset;
}

button.expandable:hover {
  --tw-text-opacity: 1;
  color: rgb(3 251 251 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  text-shadow: 0px 0px 26px var(--duneCyanBrighter);
  transition: color 0.5s, text-shadow 1s;
}

button.neon {
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
}

button.neon.green {
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(50 134 0 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 208 28 / var(--tw-text-opacity));
  box-shadow: 0px 0px 3px 0px green, 0px 0px 2px 0px greem inset;
  text-shadow: 0px 0px 0px darkgreen;
}

button.neon.red {
  --tw-border-opacity: 1;
  border-color: rgb(127 29 29 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
  box-shadow: 0px 0px 3px 0px #ff0000, 0px 0px 2px 0px red inset;
  text-shadow: 0px 0px 8px darkred;
}

button.neon.green:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 210 29 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(0 210 29 / var(--tw-text-opacity));
  text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
  box-shadow: 0px 0px 8px 0px var(--duneGreenBrighter), 0px 0px 3px 0px var(--duneGreenBrighter) inset;
  transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
}

button.neon.red:hover {
  --tw-border-opacity: 1;
  border-left-color: rgb(185 28 28 / var(--tw-border-opacity));
  border-right-color: rgb(185 28 28 / var(--tw-border-opacity));
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
  text-shadow: 0px 0px 12px red;
  box-shadow: 0px 0px 8px 0px #d10000, 0px 0px 3px 0px #d10000 inset;
  transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
}