@import './ui.css';
@import './mainmenu.css';
@import './mentat.css';
@import './frameControl.css';

@font-face {
  font-family: dune;
  src: url("fonts/NEON CLUB MUSIC.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-weight: bold;
  src: url("fonts/NEON CLUB MUSIC_bold.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-weight: lighter;
  src: url("fonts/NEON CLUB MUSIC_light.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-style: italic;
  src: url("fonts/NEON CLUB MUSIC_italic.otf") format("opentype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.rounded-switch {
		& input { @apply hidden; }
		& .slider {
			@apply relative w-8 bg-white h-4 border-2 border-dune-cyanDark rounded-[2rem];
			transition: 0.4s background-color;

			& .slider-button {
				@apply absolute w-3 h-3 rounded-[1rem] bg-gray-500 top-2/4 left-[5%];
				transform: translate(0%, -50%);
				transition: 0.3s transform, 0.3s left, 0.3s background-color;
			}
		}

		& input:checked ~ .slider {
			@apply bg-dune-cyanBrighter;
			transition: 0.3s background-color;

			& .slider-button {
				@apply left-[95%] bg-dune-cyanDark;
				transform: translate(-100%, -50%);
				transition: 0.3s transform, 0.3s left, 0.3s background-color;
			}
		}
	}
}

:root {
	@apply w-screen h-screen;
	--duneBrown: #201900;
	--duneCyan: #0ed5d5;
	--duneCyanBright: #03fbfb;
	--duneCyanBrighter: #7bffff;
	--duneCyanDark: #1c4f4f;
	--duneGreen: #00d01c;
	--duneGreenBright: #328600;
	--duneGreenBrighter: #00d21d;
	font-size: 20px;
	user-select: none;
}
@media (min-height: 1200px) { 
	:root { font-size: 24px }
}
@media (min-height: 2160px) {
	:root { font-size: 26px }
}

/*  NPM unpackaged border highlight for testing multiple instances */
input[name="unpackaged"][value="1"] ~ main {
	border: 1px solid #ff8e00;
	box-sizing: border-box;
}

/* CANVAS */
main#gamecanvas {
	position: absolute;
	width: 100vw;
	height: 100vh;
	color: #646464;
	z-index: 1;
}
main#chat {
	z-index: 10;
	width: 30vw;
	height: 25vh;
}

/* GENERIC */
/* Simple CSS Tooltips */
@keyframes fadein {
  from { opacity: 0.0 }
  to { opacity: 1.0 }
}
.tt-target {
	@apply relative;

	&:hover > .tt-content {
		@apply block;
		animation: fadein 0.5s;
	}
}

.tt-content {
	@apply hidden absolute bg-dune-whiteSand whitespace-nowrap font-mono max-w-lg;
	@apply px-[10px] py-[2px] rounded-sm text-black text-sm left-2/4;
	border: 1px solid black;
	bottom: 100%;
	text-transform: none;
	transform: translateX(-50%);
}

/* Z-Indexing */

.show { @apply visible opacity-100; }
.hide { @apply invisible opacity-0; }
.toback { z-index: -1 }

.disabled {
	pointer-events: none; user-select: none;
	& .grey { filter: grayscale(70%); }
}
input.disabled { @apply bg-slate-400 pointer-events-auto } 

/* Scrollbars */

.custom-scroll::-webkit-scrollbar {
	background-color: #047360;
	width: 0.4em;
	border: 1px solid #025546;
	border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-thumb {
	background-color: #03977d;
	border: 1px solid #025546;
	border-radius: 5px;
}

/* Other */

body {
	font-family: corbel;
	font-weight: bold
}

/* Neon Buttons */

button {

	@apply font-bold uppercase cursor-pointer my-1;
	text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
	transition: color 0.5s, text-shadow 1s;

	&.mainmenu {
		@apply text-2xl text-dune-cyan border-0;
	}

	&.system {
		@apply flex items-center text-sm justify-center rounded-sm h-6 w-6 mx-1;
		@apply text-black bg-dune-whiteSand border-dune-brown;
		box-shadow: 0px 0px 4px var(--duneBrown) inset;
	}
	
	&.expandable:hover {
		@apply text-dune-cyanBright transition-colors duration-500;
		text-shadow: 0px 0px 26px var(--duneCyanBrighter);
		transition: color 0.5s, text-shadow 1s;
	}
	&.neon {
		@apply text-base rounded py-1 px-2 w-max mx-auto;
		transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
	
		&.green {
			@apply border-dune-greenBright text-dune-green border-2;
			box-shadow: 0px 0px 3px 0px green, 0px 0px 2px 0px greem inset;
			text-shadow: 0px 0px 0px darkgreen;
		}
		&.red {
			@apply border-red-900 text-red-700;
			box-shadow: 0px 0px 3px 0px #ff0000, 0px 0px 2px 0px red inset;
			text-shadow: 0px 0px 8px darkred;
		}

		&.green:hover {
			@apply text-dune-greenBrighter border-dune-greenBrighter;
			text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
			box-shadow: 0px 0px 8px 0px var(--duneGreenBrighter), 0px 0px 3px 0px var(--duneGreenBrighter) inset;
			transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
		}
		&.red:hover {
			@apply text-red-600 border-x-red-700;
			text-shadow: 0px 0px 12px red;
			box-shadow: 0px 0px 8px 0px #d10000, 0px 0px 3px 0px #d10000 inset;
			transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
		}
	}
}