/*
// MAIN MENU
*/

:root {
	--duneCyanBrighter: #7bffff;
	--duneCyanBrighter2: #bcffff;
	--duneGreenBrighter: #00d21d;
}

main#mainmenu {

	@apply visible z-20 text-center font-['dune'] absolute w-screen h-screen bg-dune-brown text-dune-cyan;
	text-shadow: 0px 0px 12px var(--duneCyanBrighter2);

	& .maintitle {
		@apply capitalize w-8/12 min-w-min text-9xl font-bold mt-1 mb-8 mx-auto pb-8 border-0 border-b-dune-cyanDark border-b-3;
	}
	
	& input {	@apply text-sm font-mono font-normal text-black px-1 rounded; }

	/* Expandable Sections */
	 button {

		@apply text-2xl text-dune-cyan border-0 font-bold uppercase cursor-pointer my-1;
		text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
		transition: color 0.5s, text-shadow 1s;
		
		&.expandable:hover {
			@apply text-dune-cyanBright transition-colors duration-500;
			text-shadow: 0px 0px 26px var(--duneCyanBrighter);
			transition: color 0.5s, text-shadow 1s;
		}
		&.launch {
			@apply text-base text-dune-green border-2 border-dune-greenBright rounded py-1 px-2 w-max mx-auto;
			box-shadow: 0px 0px 3px 0px green, 0px 0px 2px 0px green inset;
			text-shadow: 0px 0px 8px darkgreen;
			transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;

			&:hover {
				color: red;
				@apply text-dune-greenBrighter border-dune-greenBrighter;
				text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
				box-shadow: 0px 0px 8px 0px var(--duneGreenBrighter), 0px 0px 3px 0px var(--duneGreenBrighter) inset;
				transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
			}
		}
	}

	& .toggle-content {
		@apply w-2/5 mx-auto my-0.5 border-t border-b border-dune-cyanDark max-h-0 opacity-0 invisible;
		transition: max-height 0.5s ease-out 0.5s, opacity 0.5s linear, visibility 0.5s;
	}
	& input.toggle[value="1"] ~ .toggle-content {
		@apply visible opacity-100 h-auto max-h-[200px];
		transition: max-height 1s ease-in-out, opacity 0.5s linear 0.5s;
	}

	/* Section Items */
	& .double-item {
		@apply grid mx-auto my-0.5 py-2;
		grid-template-columns: 40% 55%;
		grid-column-gap: 5%;
	}
	.single-item { @apply grid mx-auto my-0.5; }

	/* Modal */	
	& dialog {
		@apply block invisible opacity-0;
		transition: opacity 0.3s;
	
		& .loading-spinner { @apply mx-auto text-center }
		& .loading-spinner img { height: 100px; margin: auto; }

		&#loading-modal button {
			@apply text-red-700 border-2 border-[color:#a40000] px-4 py-1 rounded-md;
		}
	}
	& input[name="modalup"][value="1"] ~ dialog#loading-modal {
		@apply top-1/4 bg-[color:#f1f1f1] text-2xl font-bold opacity-90 visible rounded-md;
		transition: opacity 0.3s;
	}
}