.mentat-container {
	@apply max-h-full grid;
	grid-template-rows: 2rem 1fr;

	& .body {
		@apply overflow-y-auto font-mono whitespace-pre-wrap;

		& .background {
			@apply absolute z-[-1] w-full opacity-50 max-h-full;
			filter: sepia(20%) blur(1px);

			& img {
				@apply w-full;
			}
		}
	}
}

#mentat-lobby {
	@apply block w-9/12 mx-auto p-0.5;
	max-height: 28vh;
	height: 28vh;
	top: 44vh;

		& .body {
			@apply grid relative m-0 p-0 text-sm;
			grid-template-columns: 10% 90%;
			grid-template-rows: auto 1fr;

			& .abilities {
				@apply mx-4 text-left;
				grid-column: 1 / 3;
			}
		}
}

/* Mentat tooltips */
.tt-target.tt-mentat {
	@apply inline-block whitespace-nowrap text-blue-700;
}

