@font-face {
  font-family: dune;
  src: url("fonts/NEON CLUB MUSIC.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-weight: bold;
  src: url("fonts/NEON CLUB MUSIC_bold.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-weight: lighter;
  src: url("fonts/NEON CLUB MUSIC_light.otf") format("opentype");
}
@font-face {
  font-family: dune;
  font-style: italic;
  src: url("fonts/NEON CLUB MUSIC_italic.otf") format("opentype");
}
:root {
	--duneBrown: #201900;
    --duneCyan: #0ed5d5;
    --duneCyanBright: #03fbfb;
    --duneCyanBrighter: #7bffff;
    --duneCyanDark: #1c4f4f;
    --duneGreen: #00d01c;
    --duneGreenBright: #328600;
    --duneGreenBrighter: #00d21d;
}

.loading-spinner img {
	width: 50px;
}

.dunebody {
	background-color: #c6af96;
	height: 1000px;
	position: relative;
}

.fc-dune.error {
	border: 2px solid red
}

.fc-dune.alert {
  border: 2px solid var(--duneGreen);
}

.fc-dune .modal-icon img {
	max-width: 50px;
	max-height: 50px;
}

.fc-dune {
  position: absolute;
  user-select: none;
	display: block;

  padding: 0px 3px 0px 3px;
  border-radius: 4px;
  border: 2px solid var(--duneCyan);
  background-color: #ad9c37;
  box-shadow: 0px 0px 12px var(--duneCyanDark);
  text-align: center;
}

.fc-dune header, footer {
  position: relative;
  height: 2rem;
  font-size: 1.125rem;
	vertical-align: middle;
	line-height: 2rem;
}

.fc-dune header { cursor: move }

.fc-dune header .controls {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  right: 1%;
  transform: translate(0%, -50%);
}

.fc-dune .body {
  overflow-y: auto;
  background-color: whitesmoke;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1rem;
  line-height: 1.5rem;
  max-height: 16rem;
	border: 1px solid black;
	padding: 0.5rem;
}

.dunebody button {

  cursor: pointer;
	height: 1.5rem;
	line-height: 1rem;
	margin: auto;
  text-transform: uppercase;
  text-shadow: 0px 0px 12px var(--duneCyanBrighter2);
  transition: color 0.5s, text-shadow 1s;
	background: none;
	border: 1px solid;
	border-radius: 3px;
}


.dunebody button.system {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: flex;
  height: 1.5rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: rgb(237 230 216 / 100);
  color: rgb(0 0 0 / var(--tw-text-opacity));
  box-shadow: 0px 0px 4px var(--duneBrown) inset;
}

button.fc-modal {
  transition: color 0.5s, border 0.5s, text-shadow 1s, box-shadow 1s;
	color: var(--duneCyanDark);
  	text-shadow: 0px 0px 1px darkgreen;
	
}

button.fc-modal.green {
	color: green;
  	text-shadow: 0px 0px 1px darkgreen;
}

button.fc-modal.red {
	color: darkred;
	text-shadow: 0px 0px 1px darkred;
}

button.fc-modal:hover {
  transition: color 0.25s, text-shadow 0.5s, box-shadow 0.05s 0.05s;
	color: var(--duneCyan);
  text-shadow: 0px 0px 1px #109810;
}

button.fc-modal.green:hover {
	color: #1dc31d;
  text-shadow: 0px 0px 1px #109810;
}

button.fc-modal.red:hover {
	color: #c51515;
  text-shadow: 0px 0px 1px red;
}

.fc-dune button.fc-modal {
  background-color: rgb(237 230 216 / 100);
	  box-shadow: 0px 0px 4px var(--duneBrown) inset;
	border: 1px solid black;
	padding: 0px 0.5rem 0px 0.5rem;
	transition: box-shadow 0.5s 0.5s;
}

.fc-dune button.fc-modal:active {
  box-shadow: 0px 0px 8px var(--duneBrown) inset;
	border: 1px solid black;
	transition: box-shadow 0.0s;
}
